extends layout

block content
  style.

      @import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Poppins:wght@300;400&display=swap');
        h1 {
          font-family: 'Gochi Hand', cursive;
          color: #075d37;
          text-align: center;
          padding-top: 2rem;
        }
        body {
        background-color: #f2f2f2; /* Cor de fundo */
        color: #333; /* Cor do texto */
        font-family: 'Arial', sans-serif; /* Fonte do texto */
      }
      p {
        text-align: center;
        background-color: #ffff; /* Cor de fundo */
        border-radius:20px;
        box-shadow: 3px 3px 4px grey;
        width:20%;
        align-self: center;
        margin: 0 auto;
      }

  h1 ID: #{bookinstance._id}

  p #[strong Title:]
    a(href=bookinstance.book.url) #{bookinstance.book.title}
  p #[strong Imprint:] #{bookinstance.imprint}

  p #[strong Status:]
    if bookinstance.status=='Available'
      span.text-success #{bookinstance.status}
    else if bookinstance.status=='Maintenance'
      span.text-danger #{bookinstance.status}
    else
      span.text-warning #{bookinstance.status}

  if bookinstance.status!='Available'
    p #[strong Due back:] #{bookinstance.due_back_formatted}

  hr
  p
    a(href=bookinstance.url+'/delete') Delete BookInstance
  p
    a(href=bookinstance.url+'/update') Update BookInstance